.aboutme{
   display: flex;
   justify-content: space-between;
   padding: 80px 40px;
   background-color: #1e4136;
   color: white;
}
.aboutme h1{
    text-align: center;
    margin-bottom: 20px;
}
.aboutme h2{
    font-size: 25px;
}
.aboutme img{
    width: 600px;
    height: auto;
    margin-right: 30px;
    border-radius: 10px;
}
