.myimg{
    padding: 5px;
    display: grid;
    margin-top: 55px;
    grid-template-columns: auto auto;
    color: white;
    background-color: rgb(31, 28, 28);
 }
 .myimg h1{
     font-size: 50px;
 }
 .myimg .red{
     color: rgb(231, 60, 60);
 }
 .myimg h2{
     margin-top: 50px;
 }
 .myimg img{
     border-radius: 10%;

 }
 .ResumBtn{
    display: flex;
    justify-content: center;
 }
 .myimg button{
     padding: 8px 50px;
     background-color: white;
     border-radius: 10px;
     margin-top: 40px;
 }
 .myimg button:hover{
    background-color: rgb(231, 60, 60);;
 }
 .myimg button a{
     color: rgb(231, 60, 60);
     font-size: 40px;
    
 }
 .myimg button a:hover{
    color: white;
 }
 .sociallink{
   display: flex;
text-align: center;
 margin-top: 30px;
 justify-content: space-around;
 }

 .sociallink a{
     color: rgb(231, 60, 60);
     font-size: 25px;
     background-color: white;
     border-radius: 10px;
     padding: 5px 10px;
 }
 .sociallink a:hover{
    color: white;
    background-color: rgb(231, 60, 60);;
 }
 @media only screen and (max-width: 600px){
    .myimg button{
        width: 100%;
        padding: 10px 85px;
        background-color: white;
        border-radius: 10px;
        margin-top: 40px;
    }
    .myimg{
      grid-template-columns: auto;
        background-color: rgb(31, 28, 28);
     }
     h1{
        font-size: 15px;
     }
     h2{
        font-size: 18px;
     }
     .myimg2{
        margin: auto;
        margin-top: 20px;
     }
     .sociallink{
        justify-content: space-around;
     }
   
 }