.nevbar{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 10px;
}
.nevbar a{
    color: white;
    font-size: 25px;

}
.nevbar span{
    color: white;
    font-size: 25px;
    cursor: pointer;
    margin: 0px 10px;
}
.nevbar span:hover{
    color:rgb(231, 60, 60);
}
.nevbar span a:hover{
    color:rgb(231, 60, 60);
}
@media only screen and (max-width: 600px){
    .chandan,.resume{
        display: none;
    }
    .nevbar span{
        color: white;
        font-size: 10px;
    }  
    .nevbar span a{
        font-size: 10px;
    }  

    .myimg h1{
        font-size: 30px !important;
    }

}