.nevbar{
    display: flex;
    justify-content: space-between;
    padding: 20px 200px;
    background-color: black;
    color: white;
}
.nevbar a{
    color: white;
    font-size: 25px;
    margin-left: 25px;
}
.nevbar span{
    color: white;
    font-size: 25px;
    margin-left: 25px;
    cursor: pointer;
}
@media only screen and (max-width: 500px){
    .chandan,.resume{
        display: none;
    }
    .nevbar{
        padding: 10px 10px;
    }
    .nevbar span{
        color: white;
        font-size: 18px;
        margin-left: 10px;
    }    
}