.skillscontainer{
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 30px;
}
.skills{
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
    padding: 20px;
}
.skills h2{
    color: rgb(231, 60, 60);
    margin-bottom: 30px;
}
.skills button{
    display: block;
    padding: 10px 10px;
    color: rgb(231, 60, 60);
    background-color: white;
    width: 120px;
    margin-bottom: 10px;
    border-radius: 10px;
}
button img{
    width: 100%;
}
@media only screen and (max-width: 500px){
    .skills{
        display: flex;
        margin-top: 30px;
        justify-content: space-between;
        padding: 20px 30px;
    }
}